.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
}
.btn {
    background-color: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
}
